/DosHTML5Application/nbproject/private/
/TresHTML5Application/nbproject/private/
/TresJavaScript/nbproject/private/
/TresJavaScript/build/
/CuatroJavaScript_1/nbproject/private/
/CuatroJavaScript_1/build/
/Aprendizaje19.09.2022/nbproject/private/
/Aprendizaje19.09.2022/build/
/Aprendizaje19.09.2022/dist/
/RegistroAlumno1/nbproject/private/
/RegistroAlumno1/build/
/CincoJavaScript_1/nbproject/private/
/BiblitecaPrueba_1/nbproject/private/
/Aprendizaje24.09.2022/nbproject/private/
/Aprendizaje24.09.2022/build/
/Biblioteca2Parcial_AngelVargas/nbproject/private/
/Exxa/Bibliteca2Parcial_AngelVargas/nbproject/private/
/Exxa/Bibliteca2Parcial_AngelVargas/dist/
/Exxa/Bibliteca2Parcial_AngelVargas/build/
/ProyectoTransportes/nbproject/private/
/ProyectoTransportes/build/
/Proyecto_Grupo3-bac885f20997d4db7e7eb8fac5ba6fd7c2890774/Piloto/dist/
/Proyecto_Grupo3-bac885f20997d4db7e7eb8fac5ba6fd7c2890774/Transportes_Ultrarrapidos/nbproject/private/
/ProyectoAPresentar29.10.2022/Entrega proyecto 29.10.2022/Transportes_Ultrarrapidos/nbproject/private/
/ProyectoAPresentar29.10.2022/Entrega proyecto 29.10.2022/Transportes_Ultrarrapidos/build/
